# project tools
loguru==0.7.3
yacs==0.1.8

# mcp requirements
mcp==1.6.0
httpx==0.28.1
dotenv==0.9.9
# sse
starlette==0.46.2
uvicorn==0.34.2

# LLM 
ollama==0.4.8
openai==1.76.0
google-genai==1.11.0

# server tools
Requests==2.32.3
Pillow==11.2.1
pytz==2025.2



